<!DOCTYPE html>
<html>
  <head>
    <title>Exercise Tracker</title>
    <link
      rel="shortcut icon"
      href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div class="container">
      <center>
        <h1 id="title">EventTracker</h1>
        <br />
        ***This page will input username/id and output results in format [date,
        total number, [times]]
        <hr />
        <div class="smooth">
          Your user is on the <b>database</b> with a unique userID and stores
          events time and details.<br />
          This page querries the back End <b>API</b> to present that data for
          you.
        </div>
      </center>
      <hr />
      <center>
        <div id="displayResults">
          Your results will be displayed here:
        </div>

        <center>
          <p><code>Use your unique userID or Username get details</code></p>
        </center>

        <div class="form">
          <big><b>Get your Results:</b></big>
          <input id="uid" type="text" name="userId" placeholder="userId" />
          <input
            id="successUserName"
            name="uname"
            type="text"
            placeholder="name"
          />

          <button type="button" id="resultsButton">
            Submit
          </button>
        </div>
      </center>
      <hr />
      <center>
        <br />

        <div id="info">
          <p>
            <span class="smooth"
              ><strong
                >ADVANCED USERS: API Query syntax for exercise log:
              </strong></span
            ><br /><code
              >GET
              /api/exercise/log?{userId}[&amp;from][&amp;to][&amp;limit]</code
            >
          </p>
          <span class="smooth"
            ><strong>{ }</strong> = required, <strong>[ ]</strong> = optional
            <strong>from, to</strong> = dates (yyyy-mm-dd);
            <strong>limit</strong> = number</span
          >
          <br />
          <hr />
          <br />

          <span class="smooth"
            ><a id="myButton" href="/api/exercise/users/">
              To get an Array of users get: /api/exercise/users/ OR CLICK HERE </a
            ><br /><br />
            <hr />
            <br />
            <a id="ExersisesButton" href="/api/exercise/log/">
              To get a list of exercises get: /api/exercise/log/ OR CLICK HERE
            </a>
          </span>
        </div>
      </center>
    </div>
    <script>
      async function resultsClicked() {
        //hit api to get data

        let userName = document.getElementById("successUserName").value;
        let userid = document.getElementById("uid").value;
        console.log(
          "This click has been registered, about to fetch from API",
          userName,
          userid
        );
        let display = document.getElementById("displayResults");
        if (userName) {
          // NOT USING THIS YET --- BUILD OUT AFTER ID section built

          let myObject = await fetch(
            "/api/dailyCounts/?userName=" + userName
          ).then(response => {
            return response.data;
          });

          // complete this section to mimic action below

          let sendResultsBack = myObject[0].log.map(ele => {
            "<div>" + ele + "</div>";
            console.log("about to display", sendRsultsBack);
            display.innerHTML = sendResultsBack;
          });

          //             .then(myJson => {
          //               console.log("about to send to front end",myJson);
          //               display.innerHTML = myJson;
          //             });
        } else if (userid) {
          let myObject = await fetch("/api/dailyCounts/?userId=" + userid);

          let dataJSON = await myObject.json();

          console.log("recieved from API", dataJSON);

          let resultsResponse = [];
          console.log("now in json", dataJSON);
          for (var x = 0; x < dataJSON.length - 1; x++) {
            // gather results into daily results
            if (
              x > 0 &&
              resultsResponse[x - 1].date != resultsResponse[x].date
            ) {
              resultsResponse += [dataJSON[x].date, dataJSON[x].time];
            }
            if (
              x > 0 &&
              resultsResponse[x - 1].date == resultsResponse[x].date
            ) {
              resultsResponse += ", " + dataJSON[x].time;
            } else {
              // this case is if x=0, just load first value
              resultsResponse += [dataJSON[x].date, dataJSON[x].time];
            }
            console.log("ResultResponse is ", resultsResponse);
          }

          // myJson.forEach(ele=>{
          //   if(ele)
          //   <div>
          // })
          // buildResult.push()
          display.innerHTML = resultsResponse;
        } else display.innerHTML = "Please enter correct userId or Username";
      }
      document
        .getElementById("resultsButton")
        .addEventListener("click", resultsClicked);
    </script>
  </body>
</html>
